<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/img/panda.png">

    <title>熊猫书屋</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/css/admin-manage.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../static/js/html5shiv.min.js"></script>
    <script src="../../static/js/respond.min.js"></script>
    <![endif]-->
    <script src="../../static/js/jquery-1.7.2.js"></script>
    <script src="../../static/js/admin-manage.js"></script>
</head>

<body>
<!-- Context path -->
<span id="span-context-path" th:text="@{/}" style="display: none;opacity: 100%"></span>

<!-- Notification modal -->
<div class="modal fade" id="div-modal-notice" tabindex="-1" role="dialog" aria-labelledby="modal-notice"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-header" style="text-align: center; border-radius: 25px">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="h-notice-content"></h4>
        </div>
    </div>
</div>

<!-- Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="#"><img alt="Brand" src="../../static/img/panda.png" style="height: 40px;width: 40px"></a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="text-center"><a href="#">图书管理</a></li>
                <li class="text-center"><a href="#">用户管理</a></li>
                <li class="text-center"><a href="#">图片管理</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a id="link-upload-book" role="button">图书上传</a></li>
                <li><a id="link-upload-background" role="button">背景上传</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a id="link-show-pixabay" role="button">Pixabay</a></li>
                <li><a id="link-show-portrait" role="button">用户头像</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a>上传记录</a></li>
                <li><a>下载记录</a></li>
                <li><a>登录记录</a></li>
            </ul>

        </div>

        <!-- Display different content though java script-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="div-admin-manage-content">

            <h3 class="sub-header">图书上传</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>用户</th>
                            <th>时间</th>
                            <th>类型</th>
                            <th>空间</th>
                            <th>状态</th>
                            <th>地址</th>
                            <th>移动</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1</td>
                            <td>bear</td>
                            <td>普通用户</td>
                            <td>2022-05-03</td>
                            <td>头像</td>
                            <td>panda-images</td>
                            <td>未处理</td>
                            <td><a href="http://rb7la1ia5.hn-bkt.clouddn.com/user/20220503091844-2.pdf" target="_blank"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                            <td><a href="#"><span class="glyphicon glyphicon-move" aria-hidden="true"></span></a></td>
                            <td><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form class="form-group">
                <div class="form-group form-inline">
                    <label for="input-book-user-id" class="control-label sr-only"></label>
                    <input type="text" class="form-control" id="input-book-user-id"  placeholder="用户编号">

                    <label for="input-book-username" class="control-label sr-only"></label>
                    <input type="text" class="form-control" id="input-book-username"  placeholder="用户名">

                    <label for="input-book-upload-time" class="control-label sr-only"></label>
                    <input type="text" class="form-control" id="input-book-upload-time"  placeholder="上传时间">

                    <label for="input-book-path" class="control-label sr-only"></label>
                    <input type="text" class="form-control" id="input-book-path"  placeholder="图书路径">
                </div>
                <div class="form-group form-inline">
                    <label for="input-book-cover" class="control-label sr-only"></label>
                    <input type="text" class="form-control" id="input-book-cover"  placeholder="封面路径">

                    <label for="input-book-title" class="control-label sr-only"></label>
                    <input type="text" class="form-control" id="input-book-title" placeholder="书名">

                    <label for="input-book-author" class="sr-only"></label>
                    <input type="text" class="form-control" id="input-book-author" placeholder="作者">

                    <label for="input-book-translator" class="sr-only"></label>
                    <input type="text" class="form-control" id="input-book-translator" placeholder="译者">
                </div>
                <div class="form-group">
                    <label for="input-book-comments" class="sr-only"></label>
                    <textarea class="form-control" rows="5" id="input-book-comments" placeholder="图书评价"></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-group-sm btn-primary">搜索图书</button>
                    <button type="button" class="btn btn-group-sm btn-warning">上传封面</button>
                    <button type="button" class="btn btn-group-sm btn-success">保存图书</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/js/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="../../static/js/jquery.min.js"><\/script>')</script>
<script src="../../static/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../static/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
