<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Poem page">
    <meta name="author" content="Spring-_-Bear">
    <link rel="icon" th:href="@{/static/img/panda.png}">

    <title>诗句 - 熊猫书屋</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/static/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/panda-admin.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/static/js/html5shiv.min.js}"></script>
    <script th:src="@{/static/js/respond.min.js}"></script>
    <![endif]-->

    <!-- Custom java script -->
    <script th:src="@{/static/js/jquery-1.7.2.js}"></script>
    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>

    <!-- Get the poem form the jinrishici.com -->
    <script type="text/javascript">
        // After page loaded, get the first poem at first
        jinrishici.load(function (result) {
            var poem = result.data.content;
            var author = result.data.origin.author;
            var dynasty = result.data.origin.dynasty;
            $(".cover-heading").text(poem);
            $(".lead").text(dynasty + " - " + author);
        });

        // Get the poem in turn(time interval is 11 seconds)
        setInterval(function () {
            jinrishici.load(function (result) {
                var poem = result.data.content;
                var author = result.data.origin.author;
                var dynasty = result.data.origin.dynasty;
                $(".cover-heading").text(poem);
                $(".lead").text(dynasty + " - " + author);
            });
        }, 11 * 1000);
    </script>

    <!-- Get the context path dynamically -->
    <script th:inline="javascript" type="text/javascript">
        var contextPath = /*[[@{/}]]*/'';
        $("#span-context-path").val(contextPath);
    </script>
</head>
<body>
<!-- Context path -->
<span id="span-context-path" style="display: none;opacity: 100%"></span>

<!-- Poem -->
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a th:href="@{/user}"><img alt="Brand" th:src="@{/static/img/panda.png}" height="44px" width="44px"></a></h3>
                </div>
            </div>
            <div class="inner cover">
                <h2 class="cover-heading">正在加载今日诗词······</h2>
                <p class="lead"></p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>&copy; 2022 Spring-_-Bear</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/static/js/jquery-1.12.4.min.js}"></script>
<script>window.jQuery || document.write('<script th:src="@{/static/js/jquery.min.js}"><\/script>')</script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/static/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>