/* My customize style */
.navbar-brand {
    float: left;
    height: 50px;
    width: 50px;
    padding: 5px 5px;;
    font-size: 18px;
    line-height: 20px
}

/*
 * Footer
 */
.footer {
    padding: 15px 0;
    color: #999;
    text-align: center;
    background-color: #222;
    border-top: 1px solid #080808;
}

.footer p:last-child {
    margin-bottom: 0;
}

.container {
    width: auto;
    max-width: 666px;
    padding: 0 15px;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee
}

body {
    background-color: #222222;
}

.control-label {
    color: #999999;
}

.jumbotron {
    background-color: #222222;
    color: #999999;
}