<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.bear.panda.dao.BackgroundMapper">
    <!-- int saveBackground(Background background); -->
    <insert id="saveBackground">
        insert into t_background (user_id, upload_time, url, status)
        VALUES (#{userId}, #{uploadTime}, #{url}, #{status})
    </insert>

    <!-- List<Background> getAllBackground(); -->
    <select id="getAllBackground" resultType="Background">
        select *
        from t_background
    </select>
</mapper>