<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.bear.panda.dao.BackgroundMapper">
    <!-- int saveBackground(Background background); -->
    <insert id="saveBackground">
        insert into t_background (user_id, upload_id, upload_time, url, status)
        VALUES (#{userId}, #{uploadId}, #{uploadTime}, #{url}, #{status})
    </insert>

    <!-- List<Background> getUserBackgroundsByUserId(@Param("userId") Integer userId); -->
    <select id="getUserBackgroundsByUserId" resultType="Background">
        select id, user_id, upload_id, upload_time, url, status
        from t_background
        where user_id = #{userId}
          and status = 0;
    </select>

    <!-- Background getBackgroundById(@Param("id") Integer id); -->
    <select id="getBackgroundById" resultType="Background">
        select id, user_id, upload_id, upload_time, url, status
        from t_background
        where id = #{id}
    </select>

    <!-- int updateBackgroundStatusById(@Param("id") Integer id, @Param("status") Integer status); -->
    <update id="updateBackgroundStatusById">
        update t_background
        set status = #{status}
        where id = #{id}
    </update>
</mapper>