<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.bear.panda.dao.BookMapper">
    <!-- int saveBook(Book book); -->
    <insert id="saveBook" useGeneratedKeys="true" keyProperty="id">
        insert into t_book(title, author, translator, downloads, book_state,
                           upload_user_id, upload_username, upload_time, cover_path, comments)
        VALUES (#{title}, #{author}, #{translator}, #{downloads}, #{bookState},
                #{uploadUserId}, #{uploadUsername}, #{uploadTime}, #{coverPath}, #{comments})
    </insert>

    <!-- List<Book> getBooksByTitle(@Param("title") String title); -->
    <select id="getBooksByTitle" resultType="Book">
        select *
        from t_book
        where title like '%${title}%'
    </select>

    <!-- List<Book> getAllBooks(); -->
    <select id="getAllBooks" resultType="Book">
        select *
        from t_book
    </select>

    <!-- List<Book> getUserBookUploadRecord(@Param("userId") Integer userId); -->
    <select id="getUserBookUploadRecord" resultType="Book">
        select *
        from t_book
        where upload_user_id = #{userId}
    </select>
</mapper>