<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.bear.panda.dao.BookMapper">
    <!-- List<Book> getAllBooks(); -->
    <select id="getAllBooks" resultType="Book">
        select *
        from t_book
    </select>

    <!-- List<Book> getBooksByTitle(@Param("title") String title); -->
    <select id="getBooksByTitle" resultType="Book">
        select *
        from t_book
        where title like '%${title}%'
    </select>

    <!-- int getBookTotalCounts(); -->
    <select id="getBookTotalCounts" resultType="java.lang.Integer">
        select count(*)
        from t_book
    </select>

    <!-- int saveBook(Book book); -->
    <insert id="saveBook">
        insert into t_book(title, author, translator, downloads, collections, upload_user_id, upload_username,
                           upload_time, book_state, book_path, cover_path, comments)
        VALUES (#{title}, #{author}, #{translator}, #{downloads}, #{collections}, #{uploadUserId}, #{uploadUsername},
                #{uploadTime}, #{bookState}, #{bookPath}, #{coverPath}, #{comments})
    </insert>
</mapper>