<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.bear.panda.dao.BookMapper">
    <!-- List<Book> getAllBooks(); -->
    <select id="getAllBooks" resultType="Book">
        select *
        from t_book
    </select>

    <!-- List<Book> getBooksByTitle(@Param("title") String title); -->
    <select id="getBooksByTitle" resultType="Book">
        select *
        from t_book
        where title like '%${title}%'
    </select>

    <!-- int getBookTotalCounts(); -->
    <select id="getBookTotalCounts" resultType="java.lang.Integer">
        select count(*)
        from t_book
    </select>
</mapper>