<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.bear.panda.dao.PixabayMapper">
    <!-- Pixabay getFirstPixabay(); -->
    <select id="getFirstPixabay" resultType="Pixabay">
        select *
        from t_pixabay
        LIMIT 0,1
    </select>

    <!-- int deletePixabayById(@Param("id") Integer id); -->
    <delete id="deletePixabayById">
        delete
        from t_pixabay
        where id = #{id}
    </delete>

    <!-- int deleteAllPixabay(); -->
    <delete id="deleteAllPixabay">
        delete
        from t_pixabay
    </delete>
</mapper>