<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.whut.bear.panda.dao.RecordMapper">
    <!-- int saveRecord(Record record); -->
    <insert id="saveRecord">
        insert into t_record(user_id, book_id, type, status, time, title, author)
        VALUES (#{userId}, #{bookId}, #{type}, #{status}, #{time}, #{title}, #{author})
    </insert>

    <!-- List<Record> getUserRecord(@Param("userId") Integer userId,@Param("type")Integer type); -->
    <select id="getUserRecord" resultType="Record">
        select id,
               user_id,
               book_id,
               type,
               status,
               time,
               title,
               author
        from t_record
        where user_id = #{userId}
          and type = #{type}
    </select>
</mapper>